/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 28, 2015, 12:03:38 PM
    Author     : kieky
*/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    margin-left: 2em;
    margin-right: 2em;
}
h1 {
    color: teal;
}
label {
    float: left;
    width: 6em;
    margin-bottom: 0.5em;
}
input[type="text"] {
    width: 15em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}
input[type="email"],input[type="password"],input[type="checkbox"],input[type="assignee"],input[type="priority"] {
    width: 15em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}
textarea {
    width: 15em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}
br {
    clear: both;
}
input[type="submit"],input[type="reset"] {
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}
